<div class="container">
    <img class="container__image" src="./images/bg_home.png" alt="Banner Home Page" />
    <button class="container__btn--secondary" type="button" (click)="loginWithGoogle()">
        Iniciar sesión con Google
        <!-- <img src="./images/icon_google.svg" alt="Logo Google" /> -->
    </button>
    <a routerLink="/search" class="container__btn--primary" type="button">Buscar recetas</a>
    <a routerLink="/list-food" class="container__btn--secondary" type="button">
        Mostrar recomendaciones
        <img src="./images/icon_chef.svg" alt="Logo Food Fit" />
    </a>
</div>