<app-header />
<div class="container">
    <form class="container__form">
        <input class="container__form--input" type="text" aria-label="Ingresar alimento"
            placeholder="Ingresar alimento" />
        <button class="container__form--btn" type="button">Mostrar recomendaciones</button>
    </form>
    <h2 class="container__title">Recomendaciones</h2>
    <div class="container__results">
        <div class="container__results--item">
            <h2 class="item__title">Receta saludable de pollo y verduras</h2>
            <div class="item__information">
                <p class="item__information--time">
                    <img class="icon" src="./images/icon_time.svg" alt="Icon time" />
                    15 minutos
                </p>
                <p class="item__information--level">Fácil</p>
            </div>
        </div>
        <div class="container__results--item">
            <h2 class="item__title">Receta saludable de pollo y verduras</h2>
            <div class="item__information">
                <p class="item__information--time">
                    <img class="icon" src="./images/icon_time.svg" alt="Icon time" />
                    15 minutos
                </p>
                <p class="item__information--level">Fácil</p>
            </div>
        </div>
        <div class="container__results--item">
            <h2 class="item__title">Receta saludable de pollo y verduras</h2>
            <div class="item__information">
                <p class="item__information--time">
                    <img class="icon" src="./images/icon_time.svg" alt="Icon time" />
                    15 minutos
                </p>
                <p class="item__information--level">Fácil</p>
            </div>
        </div>
    </div>